* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
    font-family: 'Geologica';
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.mt-140 {
    margin-top: 140px;
}

button {
    cursor: pointer;
}

.btn_header:hover {
    transform: scale(1.1);
}

.btn_banner:hover {
    transform: scale(1.1);
}

.burger {
    display: none;
}


@font-face {
    font-family: 'Geologica';
    src: url(../fonts/Geologica_Auto-ExtraLight.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Geologica';
    src: url(../fonts/Geologica_Auto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Geologica';
    src: url(../fonts/Geologica_Auto-Regular.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Geologica';
    src: url(../fonts/Geologica_Auto-SemiBold.ttf);
    font-weight: 900;
}

::-webkit-scrollbar {
    width: 0;
}

/* header */
nav a:hover {
    border-bottom-width: 3px;
}

nav {
    font-size: 20px;
    color: #B8A2E3;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a {
    border-bottom: 0 solid #FFF476;
    transition: 0.2s;
    text-decoration: none;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.btn_header {
    padding: 10px 22px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #FFF476;
    border: #FFF476;
}

.logo img {
    width: 105px;
    height: 125px;
}


/* banner */
.fon {
    width: 100vw;
    background-size: cover;
    background-image: url(../image/banner/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -140px;
}

.banner_gl {
    padding: 250px 0 280px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

h1 {
    font-size: 58px;
    color: #B8A2E3;
    display: flex;
    justify-content: left;
    text-align: center;
}

.btn_banner {
    padding: 14px 25px;
    background-color: #FFF476;
    width: 250px;
    height: 55px;
    border-radius: 20px;
    border: #FFF476;
    font-size: 20px;
    margin-left: 160px;
}

/* about */

.fon_1 {
    width: 100vw;
    height: calc(100dvh - 200px);
    background-image: url(../image/about/about.png);
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.text_p h2 {
    font-size: 64px;
    text-transform: uppercase;
}

.about_gl p {
    width: 800px;
    font-weight: 500;
}

.about_gl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_p {
    font-size: 20px;
    font-weight: 600;

    position: absolute;
    top: 40%;
    left: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

/* catalog */
.text {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.text h3 {
    font-size: 40px;
}

.text a {
    font-size: 20px;
    color: #B8A2E3;
}

.animals .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
    flex-wrap: wrap;
}

.animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.text_aniamal h4 {
    font-size: 20px;
    font-weight: 900;
}

.img_animal {
    height: 220px;
}

/* mailing */

.fon_2 {
    width: 1200px;
    height: 555px;
    background-color: #b8a2e355;
    border-radius: 197px;
}

.mailing .container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right h2 {
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 57px;
    padding-right: 40px;
}

.form {
    display: flex;
    align-items: center;
}

.form form input {
    width: 407px;
    height: 75px;
    background-color: white;
    border: white;
    padding-left: 30px;
    font-size: 24px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


.btn_mailing {
    width: 190px;
    height: 75px;
    background-color: #FFF476;
    border: #FFF476;
    font-size: 24px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* authorization */

.fon_3 {
    width: 914px;
    height: 525px;
    background-color: #FFF476;
    border-radius: 20px;
}

.fon_5 {
    width: 914px;
    height: 990px;
    background-color: #FFF476;
    border-radius: 20px;
}

.authorization_gl form input[type="text"] {
    width: 663px;
    height: 70px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.138);
    border-radius: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.195);
    padding-left: 30px;
}

.authorization_gl form {
    padding: 115px 125px 22px 125px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.authorization_gl input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    appearance: none;
    border-radius: 50%;
}

.authorization_gl label {
    display: block;
}

.img_avto {
    display: flex;
    justify-content: right;
    padding-right: 300px;
    margin-bottom: -113px;
}

.authorization_gl p {
    color: rgba(0, 0, 0, 0.195);
    font-size: 16px;
}

.p-auto {
    color: rgba(0, 0, 0, 0.195);
    font-size: 16px;
    padding-left: 125px;
}

.img_avto h2 {

    font-size: 51px;
    padding-top: 100px;
    padding-right: 50px;
    color: #B8A2E3;
}

.checkbox-block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-block a {
    color: rgba(0, 0, 0, 0.325);
    font-size: 16px;
}

.btn_avto {
    margin-top: 22px;
    display: flex;
    width: 663px;
    height: 70px;
    background-color: #B8A2E3;
    color: white;
    border: #B8A2E3;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 125px;
    padding-top: 23px;
    justify-content: center;
}

.text-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.text-reg p {
    font-size: 18px;
}

.text-reg a {
    color: #B8A2E3;
}

/* info */

.info-fon-block {
    position: relative;
}

.i-block {
    position: absolute;
    width: 500px;
    height: 273px;

    background-color: #fff476e0;
    border-radius: 10px;
    top: 150px;
    left: 500px;
    z-index: 3;

    padding: 70px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info .container h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 80px;
}

.i-block-text {
    display: flex;
    align-items: center;
    gap: 30px;
}

.i-block-text p {
    font-size: 25px;
}

/* footer */

.fon_4 {
    width: 100%;
    height: calc(100vh - 500px);
    background-image: url(../image/footer/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_gl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 0px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.icon_footer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.one nav {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.one nav a {
    color: white;
    font-size: 16px;
}

.three {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.three p {
    color: white;
    font-size: 16px;
}

/* ADAPTIV */

@media (max-width: 800px) {
    .container {
        max-width: 740px;
    }

    .mt-140 {
        margin-top: 50px;
    }

    /* header */
    nav {
        font-size: 16px;
    }

    .btn_header {
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 13px;
        background-color: #FFF476;
        border: #FFF476;
    }

    .icons img {
        width: 28px;
        height: 26px;
    }

    .logo img {
        width: 80px;
        height: 100px;
    }

    /* banner */
    .fon {
        width: 100vw;
        background-size: cover;
        background-image: url(../image/banner/fon.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -110px;

    }

    .banner_gl {
        padding: 190px 0 80px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    h1 {
        font-size: 33px;
        font-weight: 550;
    }

    .btn_banner {
        padding: 10px 20px;
        background-color: #FFF476;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        border: #FFF476;
        font-size: 14px;
        margin-left: 80px;
    }

    /* about */

    .fon_1 {
        width: 100vw;
        height: calc(100vh - 0px);
        background-image: url(../image/about/about.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
    }

    .text_p h2 {
        font-size: 50px;
    }

    .about_gl p {
        max-width: 500px;
    }

    .about_gl {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text_p {
        font-size: 14px;
        font-weight: 600;

        top: 38%;

        gap: 60px;
    }

    /* catalog */

    .text {
        align-items: center;
    }

    .text h3 {
        font-size: 30px;
    }

    .text a {
        font-size: 16px;
        color: #B8A2E3;
    }

    .animals .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 120px;
        gap: 20px;
    }

    .animal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .text_aniamal h4 {
        font-size: 16px;
        font-weight: 600;
    }

    .img_animal img {
        height: 150px;
        width: 150px;
    }

    /* mailing */

    .fon_2 {
        width: 700px;
        height: 300px;
        border-radius: 117px;
    }

    .left img {
        height: 250px;
        width: 300px;
    }

    .right h2 {
        font-size: 16px;
    }

    .form form input {
        width: 207px;
        height: 45px;
        font-size: 16px;
    }

    .btn_mailing {
        width: 107px;
        height: 45px;
        font-size: 16px;
    }

    /* info */

    .info-fon-block {
        position: relative;
    }

    .info-fon-block img {
        width: 730px;
        height: 400px;
    }

    .i-block {
        position: absolute;
        width: 300px;
        height: 190px;

        background-color: #fff476e0;
        border-radius: 10px;
        top: 100px;
        left: 200px;
        z-index: 3;

        padding: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .info .container h2 {
        font-size: 30px;
        font-weight: 600;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .i-block-text img {
        width: 30px;
        height: 35px;
    }

    .i-block-text p {
        font-size: 16px;
    }

    /* footer */
    .footer_gl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 90px;
    }

    .two img {
        height: 120px;
        width: 90px;
    }

    .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .icon_footer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    .one nav a {
        font-size: 14px;
    }

    .icon_footer img {
        height: 25px;
        width: 25px;
    }

    .three {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .three p {
        font-size: 14px;
    }

    .fon_4 {
        width: 100%;
        height: calc(100vh - 200px);
        background-image: url(../image/footer/footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media (max-width: 500px) {
    .container {
        max-width: 400px;
    }

    .mt-140 {
        margin-top: 0px;
    }

    /* header */
    .header_menu nav {
        display: none;
    }

    .btn_header {
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 10px;
        background-color: #FFF476;
        border: #FFF476;
    }

    .icons img {
        width: 12px;
        height: 12px;
    }

    .logo img {
        width: 45px;
        height: 55px;
    }


    /* banner */
    .fon {
        width: 100%;
        background-size: cover;
        background-image: url(../image/banner/fon.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -70px;
    }

    .banner_gl {
        padding: 90px 0 50px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1 {
        font-size: 16px;
        font-weight: 550;
    }

    .btn_banner {
        padding: 9px 10px;
        background-color: #FFF476;
        width: 130px;
        height: 30px;
        border-radius: 20px;
        border: #FFF476;
        font-size: 10px;
        margin-left: 20px;
    }

    /* about */

    .text_p h2 {
        font-size: 20px;
    }

    .about_gl p {
        max-width: 250px;
        font-size: 7px;
    }

    .about_gl {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }

    .fon_1 {
        width: 100vw;
        height: calc(100dvh - 300px);
        background-image: url(../image/about/about.png);
        background-position: center;
        background-repeat: no-repeat;

        position: relative;
        top: 0px;
    }

    .text_p {
        font-size: 12px;
        font-weight: 600;

        top: 36%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    /* catalog */

    .text h3 {
        font-size: 18px;
    }

    .text a {
        font-size: 12px;
        color: #B8A2E3;
    }

    .img_animal {
        height: 170px;
    }

    .animals .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px;
        gap: 20px;
        padding-bottom: 80px;
    }

    .animal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .text_aniamal h4 {
        font-size: 16px;
        font-weight: 600;
    }

    .img_animal img {
        height: 130px;
        width: 130px;
    }

    /* mailing */

    .mailing .container {
        padding-top: 0;
        justify-content: unset;
        gap: 30px;
    }

    .fon_2 {
        width: 400px;
        height: 150px;
        border-radius: 60px;
    }

    .left img {
        height: 110px;
        width: 120px;
    }

    .right h2 {
        font-size: 12px;
    }

    .form form input {
        width: 107px;
        height: 25px;
        font-size: 12px;
    }

    .btn_mailing {
        width: 90px;
        height: 25px;
        font-size: 10px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 20px;
    }

    /* info */

    .info-fon-block {
        position: relative;
        margin-bottom: 30px;
    }

    .info-fon-block img {
        width: 420px;
        height: 250px;
    }

    .i-block {
        position: absolute;
        width: 200px;
        height: 90px;

        background-color: #fff476e0;
        border-radius: 10px;
        top: 80px;
        left: 100px;
        z-index: 3;

        padding: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info .container h2 {
        font-size: 24px;
        font-weight: 600;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .i-block-text img {
        width: 15px;
        height: 15px;
    }

    .i-block-text p {
        font-size: 10px;
    }

    /* footer */

    .footer_gl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        text-align: center;
        padding: 0;
    }

    .fon_4 {
        width: 100%;
        height: calc(100vh - 400px);
        background-image: url(../image/footer/footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .two img {
        width: 60px;
        height: 90px;
    }

    .icon_footer img {
        width: 15px;
        height: 15px;
    }

    .icon_footer {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
    }

    .one nav {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: left;
        gap: 20px;
    }

    .one nav a {
        color: white;
        font-size: 12px;
    }

    .three {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .three p {
        color: white;
        font-size: 10px;
    }

    .burger {
        display: block;
        width: 20px;
        height: 20px;
    }

    .burger input[type="checkbox"] {
        visibility: hidden;
    }

    .burger #burger,
    [for=burger] {
        display: block;
    }

    .burger [for=burger] {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 5;
    }

    .burger span {
        display: block;
        width: 20px;
        height: 3px;
        background: black;
        position: relative;
        transition: 0s;
    }

    .burger span::after,
    .burger span::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: black;
    }

    .burger span::before {
        top: -7px;
    }

    .burger span::after {
        top: 7px;
    }

    .burger nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background: #f4f4f4;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 5;
        display: flex;
        flex-direction: column;
    }

    .burger nav a {
        display: block;
        padding: 12px 0 12px 18px;
        color: black;
        font-size: 16px;
        border-bottom: 1px solid black;
        width: 233px;
    }

    .burger nav a:hover {
        background: #ddd;
    }

    .burger #burger:checked~nav {
        left: 0;
    }

    .burger #burger:checked~label span {
        background: transparent;
    }

    .burger #burger:checked~label span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .burger #burger:checked~label span::after {
        transform: rotate(-45deg);
        top: 0;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

}